*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}
// media queries
@mixin for-size($size){

  @if $size == tablet{
      @media (min-width:720px){
          @content;
      }
  }
      @else if $size == med-screen{
          @media (min-width:1020px){
              @content;
          }
      }
          @else if $size == desktop{
              @media (min-width:1440px){
                  @content;
              }
  }
  }
  //root for every color
:root{
  --background-Color:burlywood;
}
body{
 background:var(--background-Color) !important; 
}
// navbar
nav{
  
button{
  border:none;
  padding:10px;
  background:transparent;
  font-size: 20px;
}

}


// intro 
.anime-intro{
  position:relative;
  z-index:1;
  overflow:hidden;

  .images-flex{
    display:flex;
    position:absolute;
    z-index:-1;
    height:100vh;
    width:200vw;
    filter: brightness(50%);
    img{
      width:100%;
    }
  }
  .services{
    display:flex;
  flex-direction: column;
    align-items: center;
    height:100vh;
    justify-content: center !important;
  }
}
.navlist{
  ul{
    list-style-type: none;
  }
  
}


@media screen and (max-width:1020px){
  .navlist{
  opacity:0;
  pointer-events: none;
    position:absolute;
    z-index:100;
    top:60px;
    height:0%;
    width:0%;
    right:0;
    text-align: center;
    background:darkcyan;
    left:0;
    transition: 1s all;
    ul{
      list-style-type: none;
      font-size: 30px;
      font-weight: bold;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height:50vh;

      a{
        color:black;
        text-decoration: underline !important;
        &:hover{
          color:white !important;
        }
        &:focus{
          color:tomato !important;
        }
      }
    }
  }
  .navlist.show{
    pointer-events: auto;
    opacity:1;
    height:100%;
    width:100%;
    text-align: center;
    opacity:1;
    pointer-events: auto;
  }
}
.animeslideshow-container{
  overflow:hidden;
}
.animeslideshow{
  display:flex;
  animation:slide-left 100s linear infinite;
  scroll-behavior: smooth;
  
  img{
    margin:auto 10px;
  }
}
@keyframes slide-left{
  0%{
    transform:translateX(0)
}
100%{
    transform:translateX(calc(-250px * 20));
}
}
.question {
  margin:10px auto;
  h4 {
    text-transform: none;
    line-height: 1.5;
  }
  p{
    text-align: left;
    padding:0 5px;
    background:whitesmoke;
  }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
     header h4 {
      margin-bottom: 0;
    }

    button{
      border:none;
      font-size: 20px;
      font-weight: bold;
      background:transparent;
    }
}
.footer-info{
  h5{
    font-weight: bold;
  }
}
.social{
  i{
    font-size:30px;
    color:white;
    margin:10px;
  }
}
// pricing plan 
//pricing
.pro{
  border:4px solid darkslategrey !important;
}
.lni-crown{
  font-size: 30px !important;
  color:orange !important;
}
.pricing{
position: relative;
display:flex;
justify-content: center;
align-items: center;
}
.animeshow{
  display:grid;
  grid-template-columns: auto;
  grid-gap:10px;
}
.animeInfo-Modal{
  overflow:auto;
  scrollbar-width:none;
  button{
    position:absolute;
    top:0;
    right:0;
    z-index:1;
  }
}

.fav{
  display:flex;
  overflow-x:auto;

  div{
    margin:10px;
  }
}

@include for-size(tablet){
.animeshow{
  grid-template-columns: auto auto auto;
}
}

@include for-size(med-screen){
  .anime-intro{
    overflow:visible;
    .images-flex{
      width:100%;
    }
  }
  nav{
  display:flex;
  justify-content: space-between;    
  align-items: center;
  padding:0 10px;
  }
    .menu-bar{
      display:none;
    }
    .navlist{
      display:block;
   ul{
     display:flex;
     a{
       color:white !important;
       &:hover{
         color:grey !important;
       }
       &:focus{
          color:tomato !important;
       }
     }
     li{
       margin: 10px 0  0 10px;
       border:2px solid black;
       background:darkcyan;
       color:white;
       padding:5px 10px;
     }
   }
    }
  .row{
    display:grid !important;
    grid-template-columns: auto auto auto auto !important;
    justify-content: center;
    align-items: center;
    grid-gap:100px !important;
    .col{
        width:100% !important;
    }
}
  .question{
    width:100%;
}
.pricing {
  overflow:hidden;
  .row{
    margin:50px auto;
    position:relative;
    left:50px;
  }
}
.animeshow{
  grid-template-columns: auto auto auto auto auto;
}
}